header {
    background-color: transparent;
    height: 90px;
    position: fixed;
    z-index: 1111;
    width: 100%;
    transition: all ease .3s;

    &.scroll {
        position: fixed;
        // z-index: 111;
        background-color: #fff;
        box-shadow: 0px 10px 20px 0px rgba(8, 0, 42, 0.08);
        transition: all ease .3s;
        // width: 100%;

    }

    // &.scroll body {
    //     padding: 90px 0 0 0;
    // }
    .row {

        .logo-menu {
            display: flex;
            // justify-content: center;
            // align-items: center;
            // height: 100%;

            >div:first-child {
                border-right: 1px solid #ccc;
                text-align: center;

            }

            div:nth-child(2) {

                text-align: start;

                // .icon {
                //     background-image: url(../icons/dot-menu.svg);
                //     background-size: contain;
                //     width: 16px;
                //     height: 16px;
                //     background-repeat: no-repeat;
                //     margin-left: 10px;

                // }
                i {
                    cursor: pointer;
                }

                .dropdown {
                    position: relative;
                    display: inline-block;
                    padding-bottom: 20px;
                    color: #fff;

                    ul {
                        position: absolute;
                        width: 200px;
                        height: 100%;
                        z-index: 99;
                        opacity: 0;
                        visibility: hidden;
                        transition: all ease .3s;
                        margin-top: 80px;
                        list-style: none;
                        li{
                            border-bottom: none;
                            a{
                                text-decoration: none;
                                color: #6d6e75;
                            }
                            &:hover{
                                a{
                                    color:#1C00FF;
                                }
                            }
                        }
                    }

                    &:hover ul {
                        opacity: 1;
                        visibility: visible;
                        margin-top: 20px;
                    }
                }
            }
        }

        .search {
            display: flex;
            height: 100%;

            i {
                cursor: pointer;
            }

            input {
                width: 250px;
            }
        }

        .pages {

            >ul {
                display: flex;

                li {
                    margin-left: 20px;
                    list-style: none;
                    position: relative;

                    &:hover ul {
                        opacity: 1;
                        visibility: visible;
                        margin-top: 0;
                    }



                    ul {
                        position: absolute;
                        content: "";
                        width: 200px;
                        display: flex;
                        flex-direction: column;
                        left: -70px;
                        opacity: 0;
                        visibility: hidden;
                        transition: all ease .4s;
                        margin-top: 100px;
                        z-index: 1;

                        li {
                            padding: 0;
                            height: 36px;
                            position: relative;
                            z-index: -1;

                            &::after {
                                transition: all ease .4s;
                                content: "";
                                position: absolute;
                                width: 0;
                                // inset: 0;
                                height: 100%;
                                left: auto;
                                right: auto;
                                right: 0;
                                z-index: 1;

                            }

                            &:hover::after {

                                left: 0;
                                right: auto;
                                width: 100%;
                                background-color: #2b4eff;
                                color: #fff;


                            }

                            &:hover>a {
                                color: #fff !important;
                            }

                            a {
                                height: 100%;
                                width: 100%;
                                display: inline-block;
                                padding: 0 10px;
                                position: relative;
                                transition: all ease .4s;
                                z-index: 11;
                                color: #0e1133;



                            }



                        }
                    }

                    > a {
                        text-decoration: none;
                        color: #fff;
                        transition: all ease .2s;
                    }

                    &>a:hover {
                        color: #2b4eff;

                        i {
                            transform: rotate(-180deg);
                        }
                    }

                    i {
                        font-size: 12px;
                        margin-left: 5px;
                        transition: all ease .3s;
                    }
                }
            }
        }

        .shbtn {
            .search {
                width: 280px;
                height: 50px;
                border: 2px solid #ddd;
                // flex-grow:1 ;
                // display: flex;
                padding: 5px;
                background-color: #fff;

                input {
                    background: none;
                    border: none;
                    outline: none;
                    width: 100%;
                    flex-grow: 1;
                }

                .bucket {
                    height: 20px;
                    background-image: url(../icons/cart.svg);
                    width: 20px;
                    background-size: contain;
                    background-repeat: no-repeat;
                    border: none;
                    background-color: #fff;
                    position: relative;

                    &::after {
                        position: absolute;
                        content: "2";
                        width: 18px;
                        height: 18px;
                        border-radius: 50%;
                        background-color: #2b4eff;
                        color: #fff;
                        top: -10px;
                        right: -10px;
                        font-size: 11px;
                    }

                    &:hover::after {
                        background-color: #0e1133;
                    }
                }
            }

            button {
                width: 120px;

                &:hover {
                    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
                }
            }
        }

    }
}
main{
    #img{
        background-image: url(../images/courses-title-img.jpg);
        width: 100%;
        height: 450px;
        // opacity: 0.8;
        
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        .container {
            position: relative;
            z-index: 111;
            flex-direction: column;
        }
        &::after {
            content: "";
            position: absolute;
            inset: 0;
            background-color: rgba(0,3,32,.6);
            opacity: 0.8;
            z-index: 0;
        }
        h1 {
            font-size: 70px;
            line-height: 62px;
            color: #fff;
        }
        .circle {
            width: 7px;
            height: 7px;
            border-radius: 50%;
            background-color: #fff;
        }
        p {
            color: #fff;
            margin: 0 10px;
            
        }
    }
    #info-area{
       .container{
       div:first-child{
        .cards {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 25px;

            .exam {
                background-color: #fff;
                box-shadow: 0px 0px 20px 0px #CBCBCB40;
                border-radius: 4px;
                overflow: hidden;
                // position: relative;
                transition: all ease-in 0.2s;

                // &:hover {
                //     transform: scale(1.02);
                //     box-shadow: 0px 0px 20px 0px #E2E2E240;
                // }


                .price {
                    padding: 10px 30px;
                    padding-top: 15px;
                    border-top: 1px solid #f0f0f5;

                    & del {
                        font-size: 14px;
                        color: #6d6e75;
                        font-weight: 600;
                    }

                    .prc {
                        font-size: 20px;
                        color: #b128ff;
                        font-weight: 600;
                        padding-right: 5px;
                    }

                    .detail {
                        display: inline-block;
                        cursor: pointer;

                        &:hover span {
                            color: #2b4eff;
                        }

                        &:hover i {
                            color: #2b4eff;
                            transform: translateX(8px);
                        }

                        >span {
                            // position: absolute;
                            bottom: 0;
                            right: 37px;
                            color: #6d6e75;
                            margin-right: 10px;
                            transition: all ease .3s;
                            font-size: 18px;
                            font-weight: 500;


                        }

                        i {
                            // position: absolute;
                            bottom: 0;
                            right: 30px;
                            font-size: 15px;
                            color: #6d6e75;
                            transition: all ease .3s;
                        }
                    }
                }

                .exam-photo {
                    // width: 390px;
                    height: 215px;
                    overflow: hidden;
                    position: relative;

                    & img {
                        object-fit: cover;
                        width: 100%;
                        height: 100%;
                        transition: all ease-in-out 0.2s;

                        &:hover {
                            // transform: scale(1.2s);
                            transform: scale(1.1);
                        }
                    }

                    

                    /* margin-bottom: 24px; */

                }

                .exam-text {
                    padding: 30px;
                   
                    .date{
                        p ,i{
                            color: #6d6e75;
                            font-size: 15px;
                            margin-bottom: 0;
                            margin-right: 5px;
                        }
                       
                      
                    }
                    .job {
                        

                        & a {
                            text-decoration: none;
                            display: inline-block;
                            height: 24px;
                            line-height: 24px;
                            font-size: 14px;
                            font-weight: 500;
                            color: #fff;
                            background: #b128ff;
                            padding: 0 10px;
                            border-radius: 4px;
                        }
                    }
                    
                   
                    

                    .card-title {
                        font-size: 20px;
                        font-weight: 600;
                        margin-bottom: 15px;
                        text-decoration: none;
                        color: #0e1133;
                        transition: all .3s ease-out 0s; // color: #0d6efd;
                        cursor: pointer;

                        &:hover {
                            color: #1C00FF;


                        }
                    }

                    .teachers-photo {
                        width: 35px;
                        height: 35px;
                        border: 2px solid #ffffff;
                        border-radius: 50%;
                        box-shadow: 0 10px 14px #010b3c1a;
                        overflow: hidden;
                    }

                    & h5 {
                        font-size: 24px;
                        line-height: 36px;
                        font-weight: 500;
                    }

                    & .fa-book {
                        color: #474956;

                    }

                    & .fa-star {
                        color: #ff9415;
                        margin-right: 6px;
                        /* font-size: 18px; */
                    }

                    // &>div:first-child {
                    //     margin-bottom: 78px;
                    // }

                    &>div:last-child {


                        &>div:last-child {
                            color: #1C00FF;
                            font-size: 24px;
                            line-height: 36px;
                            font-weight: 600;
                        }

                        .icon {
                            width: 16px;
                            height: 16px;
                            background-image: url(../icons/group.svg);
                            margin: 0 8px 0 16px;
                        }
                    }
                }
            }
        }
       }

       div:last-child{
        .recent-post{
            div{
                background-color: #f3f4f8;
                height: 56px;
                width: 100%;
                border: none;
                outline: none;
                transition: all ease 0.3s;
                padding: 0 23px;
                border-radius: 4px;
                button{
                    width: 25px;
                    height:56px;
                    border: none !important;
                    background-color: transparent !important;
                   
                }
                input{
                   width: 90%;
                   border: none !important;
                   background-color: transparent !important;
                   border:1px solid transparent !important;
                   
                    &:focus {
                        border:1px solid transparent !important;
                        background-color: transparent;
                        transition: all ease .3s;
                        outline: none;
                    }
                   
                }
            }
            .bucket {
                height: 20px;
                background-image: url(../icons/cart.svg);
                width: 20px;
                background-size: contain;
                background-repeat: no-repeat;
                border: none;
                background-color: #fff;
                position: relative;

                &::after {
                    position: absolute;
                    content: "2";
                    width: 18px;
                    height: 18px;
                    border-radius: 50%;
                    background-color: #2b4eff;
                    color: #fff;
                    top: -10px;
                    right: -10px;
                    font-size: 11px;
                }

                &:hover::after {
                    background-color: #0e1133;
                }
            }
        }
        .posts{
         
       }
       .post-img{
         .sml-img{
            position: relative;
            span{
                color: #53545b;
                font-weight: 500;
                font-size: 15px;
                line-height: 1;
                display: inline-block;
                margin-bottom: 10px;
                position: absolute;
                top: 0px;
                left: 100px;
            }
            h6{
                font-weight: 700;
                position: absolute;
                left: 100px;
                top: 30px;
            }
         }
       }
       .category{
        transition: all ease .4s;
        ul{
            
            li{
                font-size: 16px;
                font-weight: 500;
                color: #53545b;
                padding-left: 20px;
                margin-top: 20px;
                &:hover{
                    color: #1C00FF;
                }
            }
        }
       }
       .tags{
        button{
            transition: all ease-in .4s;
            &:hover{
                background-color: #1C00FF;
                color: #fff;
            }
        }
       }
       .comp-img{
        // width:306p ;
        // height: 257px;
        
       }
       }
    }
}
}
footer {
    background: #0e1133;
    height: 100vh;
    position: relative;
    margin-top: 350px;

    .container {
        .row:first-child {
            > div {
                background: #2b4eff;

                position: relative;
                overflow: hidden;
                border-radius: 20px;
                padding: 50px 100px;
                bottom: 90px;

                div:first-child {
                    border-top-left-radius: 10px;
                    border-bottom-left-radius: 20px;
                    background: #2b4eff;
                    border-right: none;
                }

                div:nth-child(2) {
                    
                    img {
                        position: absolute;
                        bottom: -48px;
                        right: -148px;
                    }
                    button {
                        position: relative;
                        z-index: 111;
                    }
                }
            }

        }

        .row:nth-child(2) {
            div:first-child {
                margin-top: 1rem !important;
                p {
                    font-size: 16px;
                    line-height: 24px;
                    color: #a1a2ab;
                    margin-bottom: 30px;
                }
                div{
                    a {
                        display: inline-block;
                        font-size: 15px;
                        width: 44px;
                        height: 44px;
                        line-height: 46px;
                        text-align: center;
                        border-radius: 4px;
                        color: #fff;
                        margin-right: 15px;
                        transition: all ease .3s;
                        
                        
                        &:nth-child(1) {
                            background: #285da1;
                            border: 1px solid #285da1;
                            &:hover {
                                background: transparent;
                                color: #285da1;
                            }
                            
                        }
                        &:nth-child(2){
                            background: #03a9f4;
                            border: 1px solid #03a9f4;
                            &:hover {
                                background: transparent;
                                color: #03a9f4;
                            }
                        }
                        &:nth-child(3){
                            background: #d2173f;
                            border: 1px solid #d2173f;

                            &:hover {
                                background: transparent;
                                color: #d2173f;
                            }
                        }
                    }

                }
                    
            }
            div:nth-child(2){
                transition: all ease .4s;
                ul{
                
                li:first-child{
                   margin-bottom: 15px;
                }
                li{
                    color: #a1a2ab;
                    margin-top: 5px;
                    &:hover{
                        color: #fff;
                    }
                }
               }
            }
            div:nth-child(3){
                // h4{
                //     color: #fff;
                // }
                transition: all ease .4s;
                ul{
                   
                    li{
                        color:  #a1a2ab;
                        margin-top: 5px;
                        &:hover{
                            color: #fff;
                        }
                    }
                }
            }
            div:nth-child(4){
                .subs {
                    flex-grow: 1;
                    height: 60px;
                    background-color: #fff;
                    padding: 0 0 0 30px;
    
                    input {
                        background: none;
                        outline: none;
                        width: 100%;
                        border: none;
                    }
                    button {
                        background-color: #1C00FF;
                        color: #fff;
                        border: none;
                        outline: none;
                        height: 100%;
                        width: 70px;
                    }
                }

            }
        }
        .row:nth-child(3){
            position: absolute;
            bottom: 0;
            right: 600px;
            border-top: 1px solid #1c1f3f;
            padding:20px 0;
        }
       
    }
}
.sidebar{
    display: none;
}

@media (max-width: 576px) {
    .sidebar {
        width: 300px;
        height: 100vh;
        background-color: #fff;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 111111111111111111;
        padding: 30px;
        display: block;
        .header {
            margin-bottom: 40px;
            button {
                width: 40px;
                height: 40px;
                border: 1px solid #000;
                border-radius: 50%;
                background: transparent;
                outline: none;
                transition: all ease .4s;
                overflow: hidden;
                font-size: 14px;
                font-weight: 600;
                
                
                i{
                    transform: translate(1px,7px);
                    transition: all ease-in .4s;
                }
                p{
                    transform: translateY(20px);
                    transition: all ease-in .4s;
                    margin-bottom: 0;
                }

                &:hover {
                    width: 100px;
                    border-radius: 0;
                }
                &:hover p {
                    transform: translateY(-14px);
                }
                &:hover i {
                    transform: translateY(-20px);
                }
            }
        }
        .main {
            .drop{
                list-style: none;
                > li {
                    position: relative;
                    
                    i {
                        position: absolute;
                        right: 0;
                        top: 15px;
                        // bottom: 0;
                        transition: all ease .3s;
                    }
                    ul{
                        // position: absolute;
                        // opacity: 0;
                        // visibility: hidden;
                        height: 0;
                        transition: all ease .4s;
                        background-color: #03a9f4;
                        display: block;
                        overflow: hidden;
                        list-style: none;

                        
                    }
                    a{
                        border-bottom: 1px solid #ddd;
                        padding: 12px 0;
                        text-decoration: none;
                        display: block;
                        color: #000;
                    }
                    &:hover ul {
                        // position: relative;
                        // opacity: 1;
                        // visibility: visible;
                        display: flex;
                        flex-direction: column;
                        height: 196px;
                    }
                    &:hover  i {
                        transform: rotate(-180deg);

                    }
                }
            }
            .search {
                // width: 280px;
                height: 50px;
                border: 2px solid #f3f4f8;
                // flex-grow:1 ;
                // display: flex;
                padding: 5px;
                background-color: #f3f4f8;

                input {
                    background: none;
                    border: none;
                    outline: none;
                    width: 100%;
                    flex-grow: 1;
                }

            }
            .bucket {
                height: 20px;
                background-image: url(../icons/cart.svg);
                width: 20px;
                background-size: contain;
                background-repeat: no-repeat;
                border: none;
                background-color: #fff;
                position: relative;
                margin-top: 25px;

                &::after {
                    position: absolute;
                    content: "2";
                    width: 18px;
                    height: 18px;
                    border-radius: 50%;
                    background-color: #2b4eff;
                    color: #fff;
                    top: -10px;
                    right: -10px;
                    font-size: 11px;
                }

                &:hover::after {
                    background-color: #0e1133;
                }
            }
        }

        
    }
    #info-area {
        .row {
            flex-direction: column;
            >div {
                width: 100%;
            }
            .cards {
                grid-template-columns: 1fr !important;
            }
        }
    }
    header {

        .row {
    
            .col-4:nth-child(2), .col-4:nth-child(3) {
                display: none !important;
            }
        }
    }
    header {

        .row {
    
            .col-4:nth-child(2), .col-4:nth-child(3) {
                display: none !important;
            }
        }
    }
    footer {
        height: auto !important;
        .container {
            .row:nth-child(1) {
                img {
                    display: none;
                }
                > .col-12 {
                    flex-direction: column;
                    padding: 40px !important;
                    width: 90%;
                    margin: 0 auto !important;
                    > .col-8 {
                        width: 100%;
                        color: #fff;

                        h1 {
                            font-size: 25px;
                        }
                    }
                    > .col-4 {
                        padding-left: 0;
                        button {
                            margin-top: 30px;

                        }
                    }
                }
            }
            .row:nth-child(2) {
                flex-direction: column;

                .col-3 {
                    width: 100%;
                    ul {
                        padding: 0;
                    }
                }
            }
        }
    }
}