header {
  background-color: transparent;
  height: 90px;
  position: fixed;
  z-index: 1111;
  width: 100%;
  transition: all ease 0.3s;
}
header.scroll {
  position: fixed;
  background-color: #fff;
  box-shadow: 0px 10px 20px 0px rgba(8, 0, 42, 0.08);
  transition: all ease 0.3s;
}
header .row .logo-menu {
  display: flex;
}
header .row .logo-menu > div:first-child {
  border-right: 1px solid #ccc;
  text-align: center;
}
header .row .logo-menu div:nth-child(2) {
  text-align: start;
}
header .row .logo-menu div:nth-child(2) i {
  cursor: pointer;
}
header .row .logo-menu div:nth-child(2) .dropdown {
  position: relative;
  display: inline-block;
  padding-bottom: 20px;
  color: #fff;
}
header .row .logo-menu div:nth-child(2) .dropdown ul {
  position: absolute;
  width: 200px;
  height: 100%;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  transition: all ease 0.3s;
  margin-top: 80px;
  list-style: none;
}
header .row .logo-menu div:nth-child(2) .dropdown ul li {
  border-bottom: none;
}
header .row .logo-menu div:nth-child(2) .dropdown ul li a {
  text-decoration: none;
  color: #6d6e75;
}
header .row .logo-menu div:nth-child(2) .dropdown ul li:hover a {
  color: #1C00FF;
}
header .row .logo-menu div:nth-child(2) .dropdown:hover ul {
  opacity: 1;
  visibility: visible;
  margin-top: 20px;
}
header .row .search {
  display: flex;
  height: 100%;
}
header .row .search i {
  cursor: pointer;
}
header .row .search input {
  width: 250px;
}
header .row .pages > ul {
  display: flex;
}
header .row .pages > ul li {
  margin-left: 20px;
  list-style: none;
  position: relative;
}
header .row .pages > ul li:hover ul {
  opacity: 1;
  visibility: visible;
  margin-top: 0;
}
header .row .pages > ul li ul {
  position: absolute;
  content: "";
  width: 200px;
  display: flex;
  flex-direction: column;
  left: -70px;
  opacity: 0;
  visibility: hidden;
  transition: all ease 0.4s;
  margin-top: 100px;
  z-index: 1;
}
header .row .pages > ul li ul li {
  padding: 0;
  height: 36px;
  position: relative;
  z-index: -1;
}
header .row .pages > ul li ul li::after {
  transition: all ease 0.4s;
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  left: auto;
  right: auto;
  right: 0;
  z-index: 1;
}
header .row .pages > ul li ul li:hover::after {
  left: 0;
  right: auto;
  width: 100%;
  background-color: #2b4eff;
  color: #fff;
}
header .row .pages > ul li ul li:hover > a {
  color: #fff !important;
}
header .row .pages > ul li ul li a {
  height: 100%;
  width: 100%;
  display: inline-block;
  padding: 0 10px;
  position: relative;
  transition: all ease 0.4s;
  z-index: 11;
  color: #0e1133;
}
header .row .pages > ul li > a {
  text-decoration: none;
  color: #fff;
  transition: all ease 0.2s;
}
header .row .pages > ul li > a:hover {
  color: #2b4eff;
}
header .row .pages > ul li > a:hover i {
  transform: rotate(-180deg);
}
header .row .pages > ul li i {
  font-size: 12px;
  margin-left: 5px;
  transition: all ease 0.3s;
}
header .row .shbtn .search {
  width: 280px;
  height: 50px;
  border: 2px solid #ddd;
  padding: 5px;
  background-color: #fff;
}
header .row .shbtn .search input {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  flex-grow: 1;
}
header .row .shbtn .search .bucket {
  height: 20px;
  background-image: url(../icons/cart.svg);
  width: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  background-color: #fff;
  position: relative;
}
header .row .shbtn .search .bucket::after {
  position: absolute;
  content: "2";
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #2b4eff;
  color: #fff;
  top: -10px;
  right: -10px;
  font-size: 11px;
}
header .row .shbtn .search .bucket:hover::after {
  background-color: #0e1133;
}
header .row .shbtn button {
  width: 120px;
}
header .row .shbtn button:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.underline {
  position: relative;
  z-index: 2;
}
.underline::after {
  content: "";
  position: absolute;
  background-image: url(../images/yellow-bg.png);
  background-size: cover;
  width: 100%;
  height: 12px;
  left: 0;
  right: 0;
  bottom: 5px;
  z-index: -5;
  background-repeat: no-repeat;
  animation: translate 2s linear infinite;
}

@keyframes translate {
  0% {
    width: 0;
  }
  25% {
    width: 100%;
  }
  100% {
    width: 100%;
  }
}
.sidebar {
  display: none;
}

main #img {
  background-image: url(../images/courses-title-img.jpg);
  width: 100%;
  height: 450px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
main #img .container {
  position: relative;
  z-index: 111;
  flex-direction: column;
}
main #img::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 3, 32, 0.6);
  opacity: 0.8;
  z-index: 0;
}
main #img h1 {
  font-size: 70px;
  line-height: 62px;
  color: #fff;
}
main #img .circle {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #fff;
}
main #img p {
  color: #fff;
  margin: 0 10px;
}
main #form {
  padding: 120px 0;
}
main #form .container h3 {
  font-size: 40px;
  color: #0e1133;
  margin-bottom: 3px;
  font-weight: 700;
}
main #form .container > p {
  color: #53545b;
  margin-bottom: 15px;
  line-height: 26px;
}
main #form .container .row {
  margin-top: 40px;
}
main #form .container .row .col-7 > p {
  margin-bottom: 40px;
}
main #form .container .row .col-7 .form {
  width: 100%;
  gap: 24px;
}
main #form .container .row .col-7 .form .grid-item {
  background-color: #f3f4f8;
  height: 56px;
  width: 100%;
  border: none;
  outline: none;
  transition: all ease 0.3s;
  padding: 0 23px;
  border-radius: 4px;
}
main #form .container .row .col-7 .form .grid-item:focus {
  background-color: #fff;
  border: 1px solid #2b4eff;
  transition: all ease 0.3s;
}
main #form .container .row .col-7 .form .grid-item:nth-child(3) {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
}
main #form .container .row .col-7 .form .grid-item:nth-child(4) {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  height: auto;
}
main #form .container .row .col-7 .form textarea {
  resize: none;
  width: 100%;
  outline: none;
  border: none;
  padding: 20px 23px 0 23px !important;
}
main #form .container .row .col-7 .check {
  margin: 20px 0;
}
main #form .container .row .col-7 .check p {
  margin-left: 8px;
  margin-bottom: 0;
  color: #53545b;
  cursor: pointer;
}
main #form .container .row .col-7 .check p a {
  text-decoration: none;
  color: #0e1133;
  font-weight: 600;
  transition: all ease 0.3s;
}
main #form .container .row .col-7 .check p a:hover {
  color: #1C00FF;
}
main #form .container .row .col-7 button {
  background-color: #2b4eff;
  color: #fff;
  height: 50px;
  padding: 0 25px;
  border-radius: 4px;
  font-weight: 500;
  border: none;
  outline: none;
  transition: all ease 0.3s;
}
main #form .container .row .col-7 button:hover {
  box-shadow: 0 10px 24px rgba(4, 23, 118, 0.3019607843);
}
main #form .container .row .col-4 {
  margin-right: 30px;
  height: -moz-max-content;
  height: max-content;
}
main #form .container .row .col-4 .adress {
  width: 376px;
  padding: 45px 70px 45px 40px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 30px 50px rgba(1, 11, 60, 0.1019607843);
}
main #form .container .row .col-4 .adress img {
  width: 18px;
  height: 18px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 15px;
  margin-top: 8px;
}
main #form .container .row .col-4 .adress > div div {
  margin-bottom: 35px;
}
main #form .container .row .col-4 .adress > div div h4 {
  font-size: 20px;
}
main #form .container .row .col-4 .adress > div div p {
  transition: all ease 0.3s;
  cursor: pointer;
}
main #form .container .row .col-4 .adress > div div p:hover {
  color: #2b4eff;
}
main #form .container .row .col-4 .adress .follow > div .icon {
  width: 40px;
  height: 40px;
  border-radius: 4px;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  transition: all ease 0.5s;
}
main #form .container .row .col-4 .adress .follow > div .icon:nth-child(1) {
  background-color: rgba(40, 93, 161, 0.1);
  color: #285da1;
}
main #form .container .row .col-4 .adress .follow > div .icon:nth-child(1):hover {
  background-color: #285da1;
  color: #fff;
}
main #form .container .row .col-4 .adress .follow > div .icon:nth-child(2) {
  background-color: rgba(3, 169, 244, 0.1);
  color: #03a9f4;
}
main #form .container .row .col-4 .adress .follow > div .icon:nth-child(2):hover {
  background-color: #03a9f4;
  color: #fff;
}
main #form .container .row .col-4 .adress .follow > div .icon:nth-child(3) {
  background-color: rgba(216, 22, 63, 0.1);
  color: #d8163f;
}
main #form .container .row .col-4 .adress .follow > div .icon:nth-child(3):hover {
  background-color: #d8163f;
  color: #fff;
}
main #form .container .imgs img:first-child {
  position: absolute;
  right: 150px;
  top: 650px;
  z-index: -111;
}
main #form .container .imgs img:nth-child(2) {
  position: absolute;
  right: 100px;
  top: 850px;
}
main #form .container .imgs img:nth-child(3) {
  position: absolute;
  right: 500px;
  top: 1000px;
  z-index: -111;
}
main #support {
  padding: 120px 0;
  background-color: #edeef3;
}
main #support .contact {
  gap: 24px;
}
main #support .contact .contact-item {
  width: 476px;
  padding: 50px 80px 62px;
  box-shadow: 0 40px 50px rgba(1, 11, 60, 0.0784313725);
  border-radius: 6px;
  background-color: #fff;
  text-align: center;
}
main #support .contact .contact-item img {
  width: 70px;
  height: 70px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 28px;
  transition: all ease 0.3s;
}
main #support .contact .contact-item h3 {
  font-size: 26px;
  margin-bottom: 8px;
  font-weight: 700;
}
main #support .contact .contact-item p {
  color: #53545b;
  margin-bottom: 30px;
}
main #support .contact .contact-item a {
  border: 2px solid #d7d9e3;
  line-height: 44px;
  height: 46px;
  display: inline-block;
  padding: 0 25px;
  cursor: pointer;
  transition: all ease 0.4s;
  border-radius: 4px;
}
main #support .contact .contact-item a:hover {
  background: #2b4eff;
  border-color: #2b4eff;
  color: #fff;
}
main #support .contact .contact-item:hover img {
  transform: translateY(-15px);
}

footer {
  background: #0e1133;
  height: 500px;
  position: relative;
  padding: 90px 0;
}
footer .container .row:nth-child(1) div:first-child {
  margin-top: 1rem !important;
}
footer .container .row:nth-child(1) div:first-child p {
  font-size: 16px;
  line-height: 24px;
  color: #a1a2ab;
  margin-bottom: 30px;
}
footer .container .row:nth-child(1) div:first-child div a {
  display: inline-block;
  font-size: 15px;
  width: 44px;
  height: 44px;
  line-height: 46px;
  text-align: center;
  border-radius: 4px;
  color: #fff;
  margin-right: 15px;
  transition: all ease 0.3s;
}
footer .container .row:nth-child(1) div:first-child div a:nth-child(1) {
  background: #285da1;
  border: 1px solid #285da1;
}
footer .container .row:nth-child(1) div:first-child div a:nth-child(1):hover {
  background: transparent;
  color: #285da1;
}
footer .container .row:nth-child(1) div:first-child div a:nth-child(2) {
  background: #03a9f4;
  border: 1px solid #03a9f4;
}
footer .container .row:nth-child(1) div:first-child div a:nth-child(2):hover {
  background: transparent;
  color: #03a9f4;
}
footer .container .row:nth-child(1) div:first-child div a:nth-child(3) {
  background: #d2173f;
  border: 1px solid #d2173f;
}
footer .container .row:nth-child(1) div:first-child div a:nth-child(3):hover {
  background: transparent;
  color: #d2173f;
}
footer .container .row:nth-child(1) div:nth-child(2) {
  transition: all ease 0.4s;
}
footer .container .row:nth-child(1) div:nth-child(2) ul li:first-child {
  margin-bottom: 15px;
}
footer .container .row:nth-child(1) div:nth-child(2) ul li {
  color: #a1a2ab;
  margin-top: 5px;
}
footer .container .row:nth-child(1) div:nth-child(2) ul li:hover {
  color: #fff;
}
footer .container .row:nth-child(1) div:nth-child(3) {
  transition: all ease 0.4s;
}
footer .container .row:nth-child(1) div:nth-child(3) ul li {
  color: #a1a2ab;
  margin-top: 5px;
}
footer .container .row:nth-child(1) div:nth-child(3) ul li:hover {
  color: #fff;
}
footer .container .row:nth-child(1) div:nth-child(4) .subs {
  flex-grow: 1;
  height: 60px;
  background-color: #fff;
  padding: 0 0 0 30px;
}
footer .container .row:nth-child(1) div:nth-child(4) .subs input {
  background: none;
  outline: none;
  width: 100%;
  border: none;
}
footer .container .row:nth-child(1) div:nth-child(4) .subs button {
  background-color: #1C00FF;
  color: #fff;
  border: none;
  outline: none;
  height: 100%;
  width: 70px;
}
footer .container .row:nth-child(2) {
  position: absolute;
  bottom: 0;
  right: 600px;
  border-top: 1px solid #1c1f3f;
  padding: 20px 0;
}

main #form .container .imgs img:nth-child(2) {
  z-index: -1;
}

@media (max-width: 576px) {
  header {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  header .logo-menu > div:nth-child(1) {
    margin-top: 0 !important;
  }
  header .logo-menu > div:nth-child(2) {
    display: none;
  }
  .sidebar {
    width: 300px;
    height: 100vh;
    background-color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 111111111111111100;
    padding: 30px;
    display: block;
  }
  .sidebar .header {
    margin-bottom: 40px;
  }
  .sidebar .header button {
    width: 40px;
    height: 40px;
    border: 1px solid #000;
    border-radius: 50%;
    background: transparent;
    outline: none;
    transition: all ease 0.4s;
    overflow: hidden;
    font-size: 14px;
    font-weight: 600;
  }
  .sidebar .header button i {
    transform: translate(1px, 7px);
    transition: all ease-in 0.4s;
  }
  .sidebar .header button p {
    transform: translateY(20px);
    transition: all ease-in 0.4s;
    margin-bottom: 0;
  }
  .sidebar .header button:hover {
    width: 100px;
    border-radius: 0;
  }
  .sidebar .header button:hover p {
    transform: translateY(-14px);
  }
  .sidebar .header button:hover i {
    transform: translateY(-20px);
  }
  .sidebar .main .drop {
    list-style: none;
  }
  .sidebar .main .drop > li {
    position: relative;
  }
  .sidebar .main .drop > li i {
    position: absolute;
    right: 0;
    top: 15px;
    transition: all ease 0.3s;
  }
  .sidebar .main .drop > li ul {
    height: 0;
    transition: all ease 0.4s;
    background-color: #03a9f4;
    display: block;
    overflow: hidden;
    list-style: none;
  }
  .sidebar .main .drop > li a {
    border-bottom: 1px solid #ddd;
    padding: 12px 0;
    text-decoration: none;
    display: block;
    color: #000;
  }
  .sidebar .main .drop > li:hover ul {
    display: flex;
    flex-direction: column;
    height: 196px;
  }
  .sidebar .main .drop > li:hover i {
    transform: rotate(-180deg);
  }
  .sidebar .main .search {
    height: 50px;
    border: 2px solid #f3f4f8;
    padding: 5px;
    background-color: #f3f4f8;
  }
  .sidebar .main .search input {
    background: none;
    border: none;
    outline: none;
    width: 100%;
    flex-grow: 1;
  }
  .sidebar .main .bucket {
    height: 20px;
    background-image: url(../icons/cart.svg);
    width: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    background-color: #fff;
    position: relative;
    margin-top: 25px;
  }
  .sidebar .main .bucket::after {
    position: absolute;
    content: "2";
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #2b4eff;
    color: #fff;
    top: -10px;
    right: -10px;
    font-size: 11px;
  }
  .sidebar .main .bucket:hover::after {
    background-color: #0e1133;
  }
  #form .row {
    flex-direction: column;
  }
  #form .row .col-4, #form .row .col-7 {
    width: 100%;
  }
  #form .row .col-4 .adress {
    margin: 0 auto;
  }
  header .row .col-4:nth-child(2), header .row .col-4:nth-child(3) {
    display: none !important;
  }
  .contact {
    flex-direction: column;
  }
  footer {
    height: auto !important;
  }
  footer .container .row:nth-child(1) img {
    display: none;
  }
  footer .container .row:nth-child(1) > .col-12 {
    flex-direction: column;
    padding: 40px !important;
    width: 90%;
    margin: 0 auto !important;
  }
  footer .container .row:nth-child(1) > .col-12 > .col-8 {
    width: 100%;
    color: #fff;
  }
  footer .container .row:nth-child(1) > .col-12 > .col-8 h1 {
    font-size: 25px;
  }
  footer .container .row:nth-child(1) > .col-12 > .col-4 {
    padding-left: 0;
  }
  footer .container .row:nth-child(1) > .col-12 > .col-4 button {
    margin-top: 30px;
  }
  footer .container .row:nth-child(2) {
    flex-direction: column;
  }
  footer .container .row:nth-child(2) .col-3 {
    width: 100%;
  }
  footer .container .row:nth-child(2) .col-3 ul {
    padding: 0;
  }
}/*# sourceMappingURL=contact.css.map */